# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# fleet
.fleet

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# kotlin

.kotlin/

# generated

scripts/icongen/.env
src/main/resources/assets/infinity_hoe/icon.png
src/main/resources/no_include/icon_anim.gif
scripts/icongen/tmp